<ion-content>

  <body>
    
  

<div class="container-global">
  <div class="header">
    <h1>Minhas Chaves</h1>
    <div class="circle">
      <p>+</p>
    </div>
  </div>

  <div class="input-container">
    <input placeholder="Pesquisar Chave Pix" class="input-pesquisa">
</div>
  <div class="linha-filtros">
    <div class="coluna-bancospend">
      <div class="circle-bancospend">
        <img src="../../assets/image/Vector.png" alt="" />
      </div>

      <p>Bancos <br> Pendentes</p>
    </div>

    <div class="coluna-maiorsal">
      <div class="circle-maiorsal">
        <img src="../../assets/image/esquerda.png" alt="" />
      </div>

      <p>Maior Saldo</p>
    </div>

    <div class="coluna-menorsal">
      <div class="circle-menorsal">
        <img src="../../assets/image/Vector 39.png" alt="" />
      </div>

      <p>Menor Saldo</p>
    </div>
  </div>
  <div class="scrollable-content">
    <div class="footer">
      <div class="banco-entrada" style="margin-top: 20px; display: flex; align-items: center; background-color: #000000; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 10px; margin-bottom: 10px;">
        <img class="banco" src="../../assets/image/bancodobrasil-logo.png" alt="Banco do Brasil"  />
        <div class="descricao" style="display: flex; flex-direction: column; width: 100%;">
            <div class="nome-desc" style="display: flex; align-items: center; width: 100%;">
                <h5 style="color: #DD6A00; margin: 0;font-size: 15px;">Chave Pix: vieiraasarasilvagmail.com</h5>
                <div style="display: flex; align-items: center; margin-left: 10px;">
                    <img src="../../assets/image/Vectorpend.png" style="width: 20px; height: 20px; " alt="">
                    <h5 style="color: #DD6A00; margin: 0; ">Pendente</h5>
                </div>
            </div>
            <div class="valor-aum" style="display: flex; align-items: center; justify-content: flex-end; margin-top: 5px;">
                <p style="color: #DD6A00; margin: 0; white-space: nowrap;font-size: 10px;">Aguarde até que seu banco se conecte com o FLUX</p>
            </div>
        </div>
    </div>
    
      <div class="banco-entrada">
        <img
          src="../../assets/image/bancodobrasil-logo.png"
          alt="Banco do Brasil"
        />
        <div class="descricao">
          <div class="nome-desc">
            <h5 style="margin-right: 40px">Chave Pix: vieiraasarasilvagmail.com</h5>
            <h5 style="margin-right: 5px">R$40,00</h5>
          </div>
          <div class="valor-aum">
            <p>Banco do Brasil</p>
            <p>Ver fatura</p>
          </div>
        </div>
      </div>

      <div class="banco-entrada">
        <img
          src="../../assets/image/bancodobrasil-logo.png"
          alt="Banco do Brasil"
        />
        <div class="descricao">
          <div class="nome-desc">
            <h5 style="margin-right: 40px">Chave Pix: vieiraasarasilvagmail.com</h5>
            <h5 style="margin-right: 5px">R$40,00</h5>
          </div>
          <div class="valor-aum">
            <p>Banco do Brasil</p>
            <p>Ver Fatura</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</ion-content>