/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import '~@fortawesome/fontawesome-free/css/all.min.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* Custom styles for the alert */
.my-custom-class {
  --background: rgba( 26, 29, 29, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.my-custom-class .alert-button-cancel {
  text-align: center;
  color: rgb(223, 223, 223);
  transition: 0.3s ease-in;
  margin:0 auto;


}
.my-custom-class .alert-button-cancel:hover {
  text-decoration-line: underline;

}
.my-custom-class .alert-button-confirm {
  text-align: center;
  color: red;
  transition: 0.3s ease-in;
  margin:0 auto;


}

.my-custom-class .alert-button-confirm:hover {
  text-decoration-line: underline;


}

.my-custom-class .alert-title,
.my-custom-class .alert-message {
  padding-top: 5px;
  font-size: 18px;
  color: #fcfcfc;
  text-align: center;

}


.my-custom-class .alert-wrapper {
  border-radius: 12px;
}

// button {
//   font-family: 'Poppins', sans-serif;
//   font-weight: 600;
//   width: 100%;
//   padding: 20px;
//   font-size: 18px;
//   background-color: #92D1F9;
//   color: rgb(0, 0, 0);
//   border: none;
//   border-radius: 50px;
//   cursor: pointer;
// }
