<ion-content>
  <div class="container-global">
    <div class="header">
      <h4 *ngFor="let not of notifications | slice:0:1; let i=index">Bem vindo(a) {{not.nome}}!</h4>
      

    </div>
    <div class="step-by-step">
      <div class="step" *ngFor="let step of steps">
        <div class="step-number">{{ step.number }}</div>
        <div class="step-info">
          <h5>{{ step.title }}</h5>
          <p>{{ step.description }}</p>
          <button class="step-button">
            <a [routerLink]="step.link">{{ step.buttonText }}</a>
          </button>
        </div>
      </div>
    </div>



   
<div *ngIf="notifications && notifications.length > 1">
  <h4 style="margin-bottom: 100px;">Fluxo da Conta</h4>

  <div class="notifications-container">
    <swiper-container class="cards"
      [loop]="true"
      direction="vertical"
      effect="coverflow"
      [coverflowEffect]="{
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }"
      [centeredSlides]="true"
      [slidesPerView]="3"
    >
      <!-- Slides de Notificação -->
      <swiper-slide class="notification" *ngFor="let notification of notifications; let i = index"
        [class.expanded]="notification.detailsVisible" [ngClass]="{'show': i < 3}">
        <div class="notification-header">
          <img [src]="notification.logoUrl" class="notification-logo" alt="Logo" />
          <div class="notification-content">
            <p class="notification-title">{{ notification.title }}</p>
            <p class="notification-subtitle">{{ notification.subtitle }}</p>
          </div>
          <button class="toggle-details" (click)="toggleDetails(notification)">
            <img src="assets/image/down.png" alt="Toggle Details" />
          </button>
        </div>

        <div class="notification-details" *ngIf="notification.detailsVisible">
          <a routerLink="">Ver no banco</a>
          <a href="#excluir" id="excluir">Excluir</a>
          <a routerLink="">Mais</a>
        </div>
        <div class="notification-shadow"></div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>

   



  </div>

</ion-content>
