//ESTILIZAÇÃO DA PÁGINA HOME

/*
  TCC - FLUX (Regis e Sara)
  Regis backend
  Sara frontend
*/


* {
  font-family: "Poppins", sans-serif;
}

.container-global {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

h4 {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  padding: 30px;
}

.perfil {
  border-radius: 50%;
  margin-right: 30px;
  width: 50px;
  height: 50px;
}

.container-addbanco {
  background-color: #000e5a;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.container-addbanco p {
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}

.container-addbotao {
  padding: 0px 0px 5px 15px;
  margin-bottom: 10px;
}

.adicionar {
  width: 116px;
  height: 35px;
  border-radius: 18px;
  background-color: #ffffff;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}

.container-logo {
  position: absolute;
  bottom: -80px;
  right: -80px;

}

.container-logo img {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.notifications-cont {
  overflow-y: auto;
  display: grid;
  place-items: center;
  min-height: 180px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  -webkit-mask-box-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 0,
    white 10%,
    white 80%,
    transparent 100%
  );
  position: relative;
  max-height: 300px;
  padding: 10px;
}

.cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 180px;

}
.notification {
  margin-bottom: 10px;
  background-color: #171c1c;
  border-radius: 28px;
  position: absolute;
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: 0.5rem;
  pointer-events: none;
  animation: slideUp 15s infinite;
  margin-bottom: 0;
  max-width: 30rem;
  margin-top: 60px;

  padding: 8px;
  pointer-events: none;
}

.scroll-smooth {
  animation: scrollAnimation 0.5s ease-in-out;
}

@keyframes scrollAnimation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cards .notification.scroll-smooth {
  opacity: 1;
  transform: translateY(0);
}
.cards .notification:nth-child(1) {
  animation-delay: -3s;
}

.cards .notification:nth-child(2) {
  animation-delay: 0s;
}

.cards .notification:nth-child(3) {
  animation-delay: 3s;
}

.cards .notification:nth-child(4) {
  animation-delay: 6s;
}

.cards .notification:nth-child(5) {
  animation-delay: 9s;
}

.cards .notification:nth-child(6) {
  animation-delay: 12s;
}

.cards .notification:nth-child(7) {
  animation-delay: 15s;
}

.cards .notification:nth-child(8) {
  animation-delay: 18s;
}

.cards .notification:nth-child(9) {
  animation-delay: 21s;
}

.cards .notification:nth-child(10) {
  animation-delay: 24s;
}

.cards .notification:nth-child(11) {
  animation-delay: 27s;
}

.cards .notification:nth-child(12) {
  animation-delay: 30s;
}

.cards .notification:nth-child(13) {
  animation-delay: 33s;
}

.cards .notification:nth-child(14) {
  animation-delay: 36s;
}

/* Continue this pattern for more notifications */

@keyframes slideUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  5%, 20% {
    transform: translateY(100%) scale(0.9);
    opacity: 0.2;
  }

  25%, 40% {
    transform: translateY(0) scale(1);
    opacity: 1;
    overflow: hidden;
  }

  45%, 60% {
    transform: translateY(0) scale(0);
    opacity: 0.4;
  }

  65%, 100% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
}

.notification.expanded {
  width: 100%;
}

.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-logo {
  width: 60px;
  height: 60px;
  border-radius: 60%;
  object-fit: cover;
  margin-right: 10px;
  padding: 5px;
}

.notification-content {
  flex-grow: 1;
}

.notification-title {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.notification-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

.toggle-details {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 10; /* Garantir que o botão está acima de outros elementos */
  position: relative; /* Necessário para aplicar z-index */

}

.notification-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: absolute;
}

.notification-details a {
  text-decoration: none;
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
}

.notification-details-container {
  display: none;
  margin-top: 10px;
}

.notification.expanded .notification-details-container {
  display: flex;
  justify-content: space-between;
}

ion-content {
  --offset-bottom: 0 !important;
  --overflow: auto;
  background-color: #000;
  height: 100vh;
  overflow: auto;
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
.header-carteira {
  background-color: #000e5a;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  height: 600px;
}

.title-point {
  display: flex;
  flex-direction: column;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 35px;
}

.circle img {
  border-radius: 50%;
  width: 100%;
  height: 50px;
}

.title-direita {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-junto {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.title-junto h2 {
  padding: 0;
  margin: 0;
}

.footer {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  background-color: #000000;
  text-align: center;
}

.coluna {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.coluna-aum {
  display: flex;
  flex-direction: column;
}

.circle-bancos {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1d1d;
  margin: auto;
}

.circle-bancos img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}

.impressoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.impressoes p {
  margin-top: 10px;
  font-size: 14px;
}

.bancos {
  font-size: 14px;
}

.banco-entrada {
  display: flex;
  align-items: flex-start;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.banco-entrada img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.descricao {
  display: flex;
  flex-direction: column;
}

.nome-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nome-desc h5 {
  font-size: 20px;
  margin: 0;
}

.valor-aum {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.valor-aum p {
  font-size: 14px;
  color: #666;
  margin: 0 5px;
}

.valor-aum img {
  width: 10px;
  height: 7px;
  margin: 0 5px;
}

#verbanco {
  color: #66b6ff !important;
}

#excluir {
  color: #b02f2f !important;
}

#mais {
  color: #9395a4 !important;
}

.adicionar a {
  text-decoration: none;
  color: #000;
}
