<ion-content>
  <div class="container-global">
    <div class="scrollable-content">
      <div class="header-carteira">
        <div class="title-point">
          <h1>Saldo total</h1>
          <div class="title-direita">
            <div class="circle">
              <img src="../../assets/image/Dark.png" alt="">
            </div>

            <div class="title-junto">
              <h2>Banco Flux</h2>

              <div *ngIf="saldoTotalGeral && saldoTotalGeral.length > 0">

                <h2 [innerHTML]="'R$ '+ saldoTotalGeral"></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="coluna">
            <div class="bancos">
              <div class="circle-bancos">
                <img src="../../assets/image/banco.png" alt="Banco">
                <p>Bancos</p>
              </div>
            </div>
            <div class="impressoes">
              <div class="circle-bancos">
                <img src="../../assets/image/impressao.png" alt="Impressão">
                <p>Impressões</p>
              </div>
            </div>
          </div>

          <h4 class="relatorio-total">Relatório Total</h4>

          <!-- Loop para exibir cada item da carteira -->

          <div class="banco-entrada">
            <div class="descricao">
              <div *ngFor="let item of carteira" class="grid">
                <img  [src]="item.imageBank" class="img-bank">
                <div class="cada" >
                  <div class="nome-desc">
                    <h5 class="nome-banco" >{{item.nome_banco}}</h5>
                    <!-- Aqui você exibe o valor associado ao item -->

                    <h5 class="valor">R$ {{item.valor}}</h5>
                  </div>
                  <div class="valor-aum">
                    <p class="p-desc">{{item.descricao}}</p>
                   <ion-icon name="chevron-down-outline"></ion-icon>
                   <!-- começar o ng style -->
                    <p class="porcentagem">  {{item.porcentagem}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fim do loop -->
      </div>
    </div>
  </div>

</ion-content>
