

<ion-content>
  <div class="global">
   
     <div class="container" style="text-align: justify;"> 
      <button class="back-button" style="color: black" (click)="voltar($event)">
      <img src="../../assets/image/Vector 14seta.png" alt="" />
    </button>
      <img src="assets/image/Emblema pelos seus 10 designs criados no Canva.png" alt="Logo" class="logo">

    <h1>Termos e Condições de Uso</h1><br>
   
   
    
<p style="font-size: 18px;text-align: justify;">
Bem-vindo ao nosso aplicativo mobile de controle financeiro com integração de múltiplas contas bancárias por meio de chaves Pix. Estes Termos e Condições de Uso estabelecem as regras para o uso do Flux e explicam as responsabilidades tanto do usuário quanto dos desenvolvedores do sistema. Ao utilizar o aplicativo, você concorda em cumprir estes termos. Leia atentamente antes de prosseguir.
</p>
<br> <p>
<strong>1. Aceitação dos Termos</strong>
Ao criar uma conta e utilizar o aplicativo, você aceita integralmente os Termos e Condições. Caso não concorde com alguma parte destes Termos, por favor, interrompa o uso do aplicativo imediatamente.
<br>
<strong>2. Uso do Aplicativo</strong>
Este aplicativo permite que os usuários registrem suas contas bancárias usando suas chaves Pix, possibilitando o monitoramento de transações financeiras e o controle de depósitos, gastos e ganhos. O uso deste aplicativo está sujeito às seguintes condições:

O usuário é responsável por fornecer informações verdadeiras, precisas e completas ao registrar suas contas bancárias.
O usuário concorda em usar o aplicativo de forma legal e de acordo com as finalidades a que ele se destina.
O usuário não pode utilizar o aplicativo para fins ilícitos, como fraude ou lavagem de dinheiro.

<br>
<strong>3. Responsabilidade do Usuário</strong>
O usuário é inteiramente responsável pelas informações fornecidas e pelas transações realizadas por meio do aplicativo. Isso inclui, mas não se limita a:

Manter a segurança das suas informações de acesso.
Monitorar regularmente suas transações bancárias.
Garantir que o uso das chaves Pix seja feito com responsabilidade e segurança.
<br>
<strong>4. Integração com APIs Externas</strong>
O aplicativo utiliza uma API de terceiros, fornecida pelo serviço da Transfeera, para coletar e exibir informações financeiras. Apesar de tomarmos todas as medidas necessárias para garantir a segurança das informações transmitidas, não podemos ser responsabilizados por falhas ou erros nas APIs externas.
<br>
<strong>5. Privacidade e Segurança</strong>
Os dados fornecidos pelos usuários, como suas chaves Pix e informações bancárias, são tratados com o máximo sigilo. No entanto, como parte da integração com APIs externas, esses dados podem ser compartilhados com terceiros para fins de exibição e controle das transações financeiras no aplicativo. Garantimos que todos os dados serão utilizados exclusivamente para o propósito descrito e dentro das políticas de privacidade aplicáveis.
<br>
<strong>6. Limitações de Responsabilidade</strong>
Nós nos isentamos de qualquer responsabilidade por eventuais prejuízos financeiros, danos diretos ou indiretos, decorrentes do uso do aplicativo, incluindo falhas de conexão, erros de exibição de dados ou outros problemas técnicos que possam ocorrer. Embora nos esforcemos para fornecer um serviço ininterrupto, não garantimos que o aplicativo funcionará sem falhas ou que estará sempre disponível.
<br>
<strong>7. Direitos de Propriedade Intelectual</strong>
Todo o conteúdo presente no aplicativo, incluindo design, interface de usuário, código e documentação, é de nossa propriedade ou licenciado para nós. O uso desse conteúdo é restrito ao uso pessoal e não comercial do usuário. Nenhuma parte do aplicativo pode ser reproduzida ou distribuída sem nossa permissão expressa.
<br>
<strong>8. Atualizações e Modificações</strong>
Podemos atualizar estes Termos e Condições de tempos em tempos. O uso contínuo do aplicativo após qualquer modificação constitui aceitação dessas alterações. Os usuários serão notificados sobre quaisquer mudanças relevantes nos Termos.
<br>
<strong>9. Cancelamento e Suspensão de Conta</strong>
Reservamo-nos o direito de suspender ou encerrar o acesso de qualquer usuário ao aplicativo, a qualquer momento, por violação destes Termos, uso indevido do aplicativo ou qualquer comportamento considerado prejudicial ao bom funcionamento do sistema.
<br>
<strong>10. Disposições Gerais</strong>
Estes Termos e Condições são regidos pelas leis vigentes no Brasil. Em caso de disputa, as partes se submetem à jurisdição exclusiva dos tribunais localizados no Brasil.

<br>
<br>
    </p>

    
    <small>Estes Termos foram atualizados pela última vez em 01/10/2024.</small>
  </div></div>
</ion-content>
