<ion-content>

  <div class="container">
    <header class="header">
      <button class="back-button" style="color: black;"><img src="../../assets/image/Vector 14seta.png" alt=""> </button>
      <h1>Informações da Conta</h1>
    </header>
    
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item" >
        <span>Cliente</span>
        <span>Sara da Silva Vieira</span> 
        <span>123.501.955-81</span>
      </div>
    </div>
    
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Conta</span>
        <span>Banco do Brasil</span>
      </div>
    </div>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Chave Pix</span>
        <span>48920021338</span>
      </div>
    </div>
    
    <hr class="separator">
    
    <footer class="footer">
      <p>Extrato Bancário</p>
    </footer>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Saidas</span>
        <span>R$1.512,00</span>
      </div>
    </div>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Entradas</span>
        <span>R$1.011,44</span>
      </div>
    </div>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Saldo Total</span>
        <span>R$1100,98</span>
      </div>
    </div>

    <hr class="separator">
    
    <footer class="footer">
      <p>Detalhes</p>
    </footer>

    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Drogaria Brasil</span>
        <span>18/08/2024</span>
        <span>R$40,00</span>
      </div>
    </div>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Drogaria Brasil</span>
        <span>18/08/2024</span>
        <span>R$40,00</span>
      </div>
    </div>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Drogaria Brasil</span>
        <span>18/08/2024</span>
        <span>R$40,00</span>
      </div>
    </div>
    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span>Drogaria Brasil</span>
        <span>18/08/2024</span>
        <span>R$40,00</span>
      </div>
    </div>


    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span></span>
        <span></span>
      </div>
    </div>


    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span></span>
        <span></span>
      </div>
    </div>


    <hr class="separator">
    
    <div class="info-section">
      <div class="info-item">
        <span></span>
        <span></span>
      </div>
    </div>
    
  </div>
  <button class="fixed-button">Imprimir</button>
  
</ion-content>
