<ion-content>
  <body >
    <div *ngFor="let dat of data">
    <div class="exit">
      <img src="../../assets/image/X.png" alt="" />
    </div>
    <div class="container-confirm">
      <img src="../../assets/image/confirm.png" alt="" />
    <div class="text">
      <h1>Parabéns,</h1>
      <h2>Sua conta Flux foi verificada!</h2>
    </div>
    <button type="submit" class="btn-confirmar" (click)="confirmarCodigo(dat)">Continuar <span><ion-icon name="arrow-forward"></ion-icon></span></button>
    </div>
    </div>
  </body>
</ion-content>
