<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="carteira" href="/tabs/carteira">
      <ion-icon name="wallet" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="meus-bancos" href="/tabs/meus-bancos">
      <ion-icon name="server" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="impressao-extrato" href="/tabs/impressao-extrato">
      <ion-icon name="document" class="tab-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="config-flux" href="/tabs/config-flux">
      <ion-icon name="person" class="tab-icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
