<body>
  <div class="login-container">
    <form (ngSubmit)="cadastrar()" [formGroup]="cadastroForm">
      <img src="assets/image/Emblema pelos seus 10 designs criados no Canva.png" alt="Logo" class="logo">
      <h1>Bem Vindo!</h1>
      <h5>Cadastre-se</h5>

      <!-- Nome -->
      <div class="input-container">
        <input type="text" id="nome" name="nome" placeholder="Nome Completo" formControlName="nome">
        <div class="input-circle">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
      <div *ngIf="cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.invalid">
        <small *ngIf="cadastroForm.get('nome')?.errors?.['required']">Nome é obrigatório.</small>
        <small *ngIf="cadastroForm.get('nome')?.errors?.['minlength']">Nome deve ter no mínimo 3 caracteres.</small>
      </div>

      <!-- CPF -->
      <div class="input-container">
        <input type="text" id="cpf" name="cpf" placeholder="CPF" formControlName="cpf" mask="***.***.***-**">
        <div class="input-circle">
          <i class="fa-solid fa-id-card"></i>
        </div>
      </div>
      <div *ngIf="cadastroForm.get('cpf')?.touched && cadastroForm.get('cpf')?.invalid ">
        <small *ngIf="cadastroForm.get('cpf')?.errors?.['required']">CPF é obrigatório.</small>
        <small *ngIf="cadastroForm.get('cpf')?.errors?.['maxlength']">CPF deve conter 11 números.</small>
      </div>

      <!-- Email -->
      <div class="input-container">
        <input type="text" id="email" name="email" placeholder="Email" formControlName="email">
        <div class="input-circle">
          <i class="fa-solid fa-envelope"></i>
        </div>
      </div>
      <div *ngIf="cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid">
        <small *ngIf="cadastroForm.get('email')?.errors?.['required']">Email é obrigatório.</small>
        <small *ngIf="cadastroForm.get('email')?.errors?.['email']">Email inválido.</small>
      </div>

      <!-- Senha -->
      <div class="input-container">
        <input type="password" id="senha" name="senha" placeholder="Senha" formControlName="senha">
        <div class="input-circle">
          <i class="fa-solid fa-lock"></i>
        </div>
      </div>
      <div *ngIf="cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.invalid">
        <small *ngIf="cadastroForm.get('senha')?.errors?.['required']">Senha é obrigatória.</small>
        <small *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">Senha deve ter no mínimo 6 caracteres.</small>
      </div>

      <!-- Confirmação de Senha -->
      <div class="input-container">
        <input type="password" id="Csenha" name="Csenha" placeholder="Confirmação de Senha" formControlName="confirmPassword">
        <div class="input-circle">
          <i class="fa-solid fa-circle-check"></i>
        </div>
      </div>
      <div *ngIf="cadastroForm.get('confirmPassword')?.touched && cadastroForm.errors?.['notSame']">
        <small>As senhas não coincidem.</small>
      </div>

      <button type="submit" [disabled]="cadastroForm.invalid">Cadastrar</button>
    </form>
    <p class="forgot-password">Já tem uma conta? <strong><a [routerLink]="['/login']">Clique aqui</a></strong></p>
  </div>
</body>
