<body>
  

  <div class="login-container">
    <img src="assets/image/Emblema pelos seus 10 designs criados no Canva.png" alt="Logo" class="logo">
    <h1>Comece já!</h1>
    <h5>Cadastre seu Banco</h5>
  
    <div class="input-container">
      <input type="text" id="pix" name="pix" placeholder="Chave Pix">
      <div class="input-circle">
        <i class="fa-brands fa-pix"></i>
      </div>
      
    </div>
  
    <button type="submit">Cadastrar Banco</button>

    <div class="container-disponiveis">
      <p>Bancos Disponíveis no Flux</p>
      <div class="logo-bancos">
      <img src="../../assets/image/LB1.png" alt="">
      <img src="../../assets/image/LB2.png" alt="">
      <img src="../../assets/image/LB3.png" alt="">
      <img src="../../assets/image/LB4.png" alt="">
      <img src="../../assets/image/LB5.png" alt="">
      <img src="../../assets/image/LB6.png" alt="">
      <img src="../../assets/image/LB7.png" alt="">
      <img src="../../assets/image/LB8.png" alt="">
    </div>
    </div>
  
    
  </div></body>
