<ion-content>

  <div class="global">
    <header>
      <ion-icon
      name="arrow-back"
      class="back-button"
      (click)="voltar($event)"
    ></ion-icon>
    </header>
  <div class="login-container">



    <img src="assets/image/Emblema pelos seus 10 designs criados no Canva.png" alt="Logo" class="logo">
    <h1>Comece já!</h1>
    <h5>Cadastre sua Conta Bancaria</h5>


    <div class="input-container">
      <input type="text" [(ngModel)]="key" id="chavePix" name="chavePix" placeholder="Chave Pix">
      <div class="input-circle">
        <i class="fa-brands fa-pix"></i>
      </div>

    </div>


    <div class="container-disponiveis">
      <p>Selecione a conta do seu banco</p>
      <div class="item">
        <ion-list>
          <ion-item *ngFor="let conta of contas" (click)="selecionarBanco(conta)" color="list-items">
            <ion-avatar slot="start">
              <img [src]="conta.Banco.image" alt="{{ conta.Banco.name }}">
            </ion-avatar>
            <ion-label>
              <h2>{{ conta.Banco.name }}</h2>
              <p>Saldo: {{ conta.saldo | currency }}</p>
              <p>Tipo de Conta: {{ conta.tipo_conta }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
     </div>
      <button class="btn-azul" routerLink="/list-contaB">Veja Mais +</button>
    </div>

    <p class="azul">Selecione o tipo da sua chave Pix</p>
    <select [(ngModel)]="key_type" required style="margin-bottom: 50px;">
      <option value="">Selecione o tipo</option>
      <option value="EMAIL">Email</option>
      <option value="CNPJ">Cnpj</option>
      <option value="TELEFONE">Telefone</option>
      <option value="CHAVE_ALEATORIA">Chave Aleatória</option>
    </select>





    <button (click)="cadastrarPix()" class="btn-cad-banco">Cadastrar Banco</button>



  </div></div>
</ion-content>
