<body>
  

  <div class="login-container">
    <img src="assets/image/Emblema pelos seus 10 designs criados no Canva.png" alt="Logo" class="logo">
    <h1>Comece já!</h1>
    <h5>Cadastre seu Banco</h5>
  
    <div class="input-container">
      <input type="text" id="chavePix" name="chavePix" placeholder="Chave Pix">
      <div class="input-circle">
        <i class="fa-brands fa-pix"></i>
      </div>
      
    </div>


    <div class="container-disponiveis">
      <p>Selecione a conta do seu banco</p>
      <div class="logo-bancos">
        <div *ngFor="let conta of contas?.slice(0, 9)" (click)="selecionarConta(conta)">
          
        </div>                  
      </div>
      <button class="btn-azul" routerLink="/mais-bancos">Veja Mais +</button>
    </div>

    <p class="azul">Selecione o tipo da sua chave Pix</p>
    <select [(ngModel)]="tipoConta" required>
      <option value="">Selecione o tipo</option>
      <option value="EMAIL">Email</option>
      <option value="CNPJ">Cnpj</option>
      <option value="TELEFONE">Telefone</option>
      <option value="CHAVE_ALEATORIA">Chave Aleatória</option>
    </select>



  
    <button type="submit">Cadastrar Banco</button>

   
    
  </div></body>
