<body>
  <div class="container">
      <div class="container-logo">
          <img src="../../assets/image/Frame 1logobranco.png" alt="">
      </div>
      <div class="texto-slider">
          <h1>Suas<br> finanças <br><strong>No seu Controle!</strong></h1>
      </div>
      <div class="container-botao">
          <button type="button" routerLink="/cadastro-usuario">Comece Agora
              <div class="botao-circle">
                  <i class="fas fa-arrow-right"></i>
              </div>
          </button>
      </div>
  </div>
</body>