<ion-content>
  <div class="global">
    <header>
      <ion-icon
      name="arrow-back"
      class="back-button"
      (click)="voltar($event)"
    ></ion-icon>
    </header>
    <div class="login-container">
      <img src="../../assets/image/Emblema pelos seus 10 designs criados no Canva.png" alt="Logo" class="logo">
      <h1>Faça sua transação!</h1>

      <!-- Valor da transação -->
      <p class="azul">Coloque o valor da sua transação</p>
      <div class="valor-container">
        <!-- <button (click)="decreaseValue()" class="circle-btn">-</button> -->
        <input currencyMask [(ngModel)]="valor" class="input-saldo">
        <!-- <button (click)="increaseValue()" class="circle-btn">+</button> -->
      </div>

      <!-- Selecione o banco de envio -->
      <div class="container-disponiveis">
        <p>Selecione a instituição que envia essa transação</p>
        <div class="logo-bancos">
          <div *ngFor="let banco of bancosFiltrados" (click)="selecionarBancoEnvio(banco, banco.id_conta, banco.id_contaBancos)">
            <img [src]="banco.image" [alt]="banco.name" [class.selected]="selectedInstitutionEnvio?.id_conta === banco.id_conta">
            <p [innerHTML]="banco.name"></p>
          </div>
        </div>
        <button class="btn-azul" routerLink="/mais-bancos">Veja Mais +</button>
      </div>

      <!-- Selecione o banco de recebimento -->
      <div class="container-disponiveis">
        <p>Selecione a instituição que receba essa transação</p>
        <div class="logo-bancos">
          <div *ngFor="let banco of bancosFiltrados" (click)="selecionarBancoRecebimento(banco, banco.id_conta, banco.id_contaBancos)">
            <input type="hidden" value="{{ banco.id_contaBancos }}">
            <img [src]="banco.image" [alt]="banco.name" [class.selected]="selectedInstitutionRecebimento?.id_conta === banco.id_conta">
            <p [innerHTML]="banco.name"></p>
          </div>
        </div>
        <button class="btn-azul" routerLink="/mais-bancos">Veja Mais +</button>
      </div>

      <!-- Descrição da transação -->
      <div class="descricao-container">
        <p>Escreva a descrição da sua transação (opcional)</p>
        <input type="text" class="descricao" [(ngModel)]="descricao">
      </div>

      <!-- Botão para enviar a transação -->
      <button (click)="enviarTransacao()" class="btn-enviar-tran">Enviar transação</button>
    </div>
  </div>
</ion-content>
