<ion-content>
  <div class="titulo">
    <h1>Impressão de <br> Extrato</h1>
  </div>

  <div class="container-global">
    <div class="card-extrtotal"  (click)="imprimirExtratoGeral($event)">
      <div class="circle-card">
        <img src="../../assets/image/Star 1star.png" alt="">
      </div>
      <p>Imprimir o Extrato Total da Conta</p>
    </div>

    <div class="bancos" *ngFor="let conta of listContas">
      <div class="card-extrabanco">
        <img src="{{conta.image}}" alt="">
        <h5>{{conta.nome_instituicao}}</h5>
        <p (click)="imprimirExtratoContaBancaria(conta.id_conta)"> Imprimir</p>
      </div>




    </div>
  </div>
</ion-content>
