<ion-content>
  <div class="titulo">
    <h1>Impressão de <br> Extrato</h1>
  </div>

  <div class="container-global">
    <div class="card-extrtotal">
      <div class="circle-card">
        <img src="../../assets/image/Star 1star.png" alt="">
      </div>
      <p>Imprimir o Extrato Total da Conta</p>
    </div>

    <div class="bancos">
      <div class="card-extrabanco">
        <img src="../../assets/image/bancodobrasil-logo.png" alt="">
        <h5>Banco do Brasil</h5>
        <p>Imprimir</p>
      </div>

      <div class="card-extrabanco">
        <img src="../../assets/image/bancodobrasil-logo.png" alt="">
        <h5>Bradesco</h5>
        <p>Imprimir</p>
      </div>

      <div class="card-extrabanco">
        <img src="../../assets/image/bancodobrasil-logo.png" alt="">
        <h5>PicPay</h5>
        <p>Imprimir</p>
      </div>

      <div class="card-extrabanco">
        <img src="../../assets/image/bancodobrasil-logo.png" alt="">
        <h5>NuBank</h5>
        <p>Imprimir</p>
      </div>
    </div>
  </div>
</ion-content>
